.page-wrapper {
  padding: 0 2rem;
  background-color: #f6f5f4;
  @apply font-mono;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  @apply h-28 w-auto mb-2;
}

.demo {
  @apply w-full max-w-3xl;
}

.description {
  @apply text-center text-gray-600 text-xl max-w-lg leading-8 mb-4 sm:mb-0;
}

.links-container {
  @apply list-disc flex flex-col justify-start mt-4 first:mt-0;
}

.link {
  @apply text-blue-600 leading-8 text-lg hover:underline;
}
